.DS_Store

# env files
chatbots/.env
chatbots/RAG_model/.env
patterns/workflows/1-introduction/.env
Tool-Framework-Library/Langchain/.env

#Ignore vscode AI rules
.github
.venv
Tool-Framework-Library/Langchain/assets/langchain-2fa27-firebase-adminsdk-fbsvc-83be502fcb.json

# other files & directories
rough.*
NLP/.ipynb_checkpoints
chatbots/RAG_model/venv
Artificial-Intelligence
github_openai.example.py
AI-Agents/Building-Blocks/.env
Tool-Framework-Library/Langchain/RAG/db
Tool-Framework-Library/LangGraph/NOTES.md
