.DS_Store

# env files
chatbots/.env
chatbots/RAG_model/.env
patterns/workflows/1-introduction/.env

# other files & directories
rough.*
NLP/.ipynb_checkpoints
chatbots/RAG_model/venv
Artificial-Intelligence


#Ignore vscode AI rules
.github
